<template>
    <v-container>
        <header>
            <v-toolbar color="#9e303c" dark>
                <v-toolbar-title>Session Bibliothek</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-text-field
                    append-icon="mdi-magnify"
                    placeholder="Suchen..."
                    hint="Gib den Namen der Session(s) die Du suchst ein."
                    @change="searchSessions($event)">
                </v-text-field>
                <v-spacer></v-spacer>
                <v-toolbar-title>BYOD-Launcher</v-toolbar-title>
            </v-toolbar>
        </header>

        <div class="sessions">
            <div v-for="session in getSessionsOnPage()" :key="session.id">
                <session-summary-card v-bind:session="session"></session-summary-card>
            </div>

        </div>
        <div class="center" v-if="sessions.length">
            <v-pagination v-model="page" :length="pages"></v-pagination>
        </div>
        <div class="center mt-5" v-else>
            <p class="text-muted">
                Scheint als wären noch keine Sessions öffentlich verfügbar.
            </p>
        </div>
            
    </v-container>
</template>

<script lang="ts">

import {Vue, Component} from "vue-property-decorator";
import {SessionSummary} from "@/models/sessionSummary";
import SessionSummaryCard from "@/components/SessionSummaryCard.vue";
import {sessionApi} from "@/api/sessionApi";

@Component({
    components: {SessionSummaryCard},
    directives: {},
    computed: {
        //getSessionsOnPage
    },
})
export default class SessionLibrary extends Vue {

    sessions: SessionSummary[] = [];

    getSessionsOnPage(): SessionSummary[] {
        if(!this.sessions?.length) return [];
        return this.sessions.slice((this.page-1)*this.CARDS_PER_PAGE, this.page * this.CARDS_PER_PAGE);
    }

    readonly CARDS_PER_PAGE: number = 6;

    page = 1;
    pages = 1;

    async mounted() {
        sessionApi.getPublishedSessions()
            .then(sessions => {
                this.sessions = sessions;
                this.resetPagination();
            }).catch(error => {
                console.error("Failed fetching sessions: ", error);
            });
    }

    async searchSessions(value: string) {
        sessionApi.getSessionsByName(value).then((sessions: SessionSummary[]) => {
            this.sessions = sessions;
            this.resetPagination();
        }).catch((e: any) => {
            console.error("Failed searching sessions: ", e);
        });
    }

    resetPagination() {
        this.pages = Math.ceil(this.sessions.length / this.CARDS_PER_PAGE);
        this.page = 1;
    }

}

</script>

<style lang="scss">
    $accent: #9e303c;

    v-text-field{
        position: relative;
        bottom: -12px;
    }

    .color-accent {
        color: $accent;
    }

    .background-accent {
        background-color: $accent;
        * {
            color: #fff;
        }
    }

    .sessions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        div {
            margin: 1.5%;
        }
    }

    .center {
        text-align: center;
    }
</style>
