<template>
    <v-card class="session-card fade-in width-m">
        <v-card-text>
            <h2 class="session-card-header mb-1">
                {{ session.title }}
            </h2>
            <p>
                von <span class="color-accent">{{ session.director.displayName }}</span>, {{ formattedDate }}
            </p>

            <label>Beschreibung:</label>
            <br>
            <p>
                Noch nicht umgesetzt.
            </p>
        </v-card-text>
        <v-card-actions>
            <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn dark color="#9e303c" @click="startSession()" class="color-accent mx-1" v-bind="attrs" v-on="on">
                        STARTEN
                    </v-btn>
                </template>
                <span>Diese Session ohne Modifikationen starten</span>
            </v-tooltip>
            <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn dark color="#9e303c" @click="copySession()" class="color-accent mx-1" v-bind="attrs" v-on="on">
                        ANPASSEN
                    </v-btn>
                </template>
                <span>Erstellt eine private Kopie dieser Session, die Du anpassen kannst</span>
            </v-tooltip>
        </v-card-actions>
    </v-card>
</template>

<script lang="ts">

import {Component, Prop, Vue} from "vue-property-decorator";
import {sessionApi} from "@/api/sessionApi";
import {SessionSummary} from "@/models/sessionSummary";
import { Session } from "@/models/session";
import {sessionIdentifiers} from "@/store/modules/session";
import router from "@/router/index";
import moment from "moment";

@Component({
    components: {},
    directives: {},
    computed: {
        
    }
})
export default class SessionSummaryCard extends Vue {

    @Prop({required: true}) readonly session!: SessionSummary;

    /**
     * Triggers loading the session into vueX storage, then navigates 
     * to the OrchestrateSession page
     */
    startSession() {
        this.$store.dispatch(sessionIdentifiers.actions.downloadAllData, this.session.id)

        router.push({name: 'orchestrate session'});
    }

    /**
     * Makes a call to copy the session, then navigates to editing it.
     */
    copySession() {
        sessionApi.copySession(this.session.id).then((session: Session) => {
            router.push({name: 'edit session', query: {sessionId: session.id}})
        }).catch(error => {
            console.error(error);
        });
    }

    get formattedDate(): string {
        return moment(this.session.creationDate).locale('de').calendar();
    }
}

</script>

<style lang="scss">
    $accent: #9e303c;

    .color-accent {
        color: $accent;
    }

    .background-accent {
        background-color: $accent;
        * {
            color: #fff;
        }
    }

    .session-card {
        width: 100%;
        padding: 1.5rem;

        .session-card-header {
            color: $accent;
        }
    }

    .width-m {
        width: 450px;
    }

    .fade-in {
        animation: fade-in 1.6s ease-out;
    }

    @keyframes fade-in {
        from { opactiy: 0}
        to { opactiy: 1}
    }

    @media only screen and (max-width: 1680px)  {
        .width-m {
            width: 300px;
        }
    }
    @media only screen and (max-width: 568px) {
        .width-m {
            max-width: 80vw;
        }
    }
</style>