<template>
    <v-container>
        <v-data-table
            :headers="headers"
            :items="sessions"
        >
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editSession(item)">
                    fa-pencil-alt
                </v-icon>
                <v-tooltip bottom v-if="item.isPublic">
                    <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2 clickable" @click="setPrivate(item)" v-bind="attrs" v-on="on">
                                fa-cloud-download-alt
                            </v-icon>
                    </template>
                    <span>Privatisieren</span>
                </v-tooltip>
                <v-tooltip bottom v-else>
                    <template v-slot:activator="{ on, attrs }">
                        <span >
                            <v-icon small class="mr-2 clickable" @click="setPublic(item)" v-bind="attrs" v-on="on">
                                fa-cloud-upload-alt
                            </v-icon>
                        </span>
                    </template>
                    <span>Publizieren</span>
                </v-tooltip>
                
            </template>
            <template v-slot:item.isPublic="{ item }">
                <v-icon small class="mr-2" v-if="item.isPublic">
                    fa-check
                </v-icon>
                <v-icon small class="mr-2" v-else>
                    fa-times
                </v-icon>
            </template>
        </v-data-table>
    </v-container>

</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {sessionApi} from "@/api/sessionApi";
import {Session} from "@/models/session";
import router from "@/router/index";

@Component
export default class SessionList extends Vue {
    headers = [
        {
            text: "Titel",
            value: "title",
            sortable: true,
        },
        {
            text: "Publiziert",
            value: "isPublic",
            sortable: false,
        },
        {
            text: "Teilnahme-Code",
            value: "accessCode",
            sortable: false,
            align: 'center',
        },
        {
            text: "Aktionen",
            value: 'actions',
            sortable: false
        }
    ];
    sessions: Session[] = [];

    created() {
        sessionApi.getUserSessions()
            .then(sessions => {

                this.sessions = sessions;
            })
    }

    editSession(session: Session) {
        router.push({name: 'edit session', query: {sessionId: session.id}});
    }

    async setPublic(session: Session) {
        try {
            session.isPublic = true;
            await sessionApi.updateSession(session);
        }
        catch (error) {
            session.isPublic = false;
            console.log(error);
        }
        
    }

    async setPrivate(session: Session) {
        try {
            session.isPublic = false;
            await sessionApi.updateSession(session);
        }
        catch (error) {
            session.isPublic = true;
            console.log(error);
        }

    }
}

</script>

<style scoped>

.clickable {
    cursor: pointer;
}

</style>